<div class="barraAzul"></div>
<div class="divFooter">
  <div style="width:10%;" class="flutuando">
    <img src="../../assets/logo.png" class="logo">
  </div>
  <div style="width:90%;" class="flutuando" >
    <div class="links">
      <h3>Link</h3>
      <hr>
      <ul>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul>
    </div>

    <div class="links">
      <h3>Link</h3>
      <hr>
      <ul>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul>
    </div>

    <div class="links">
      <h3>Link</h3>
      <hr>
      <ul>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
        <li><a href="#">link</a></li>
      </ul>
    </div>
  </div>
</div>