/*Tamanhos*/

.logo{
    height: 8vh;
}

.dropdown-menu{
    border-radius: 0% !important;
    padding: 0 0 !important;
    margin: -0em;
    border: 0;
}

.nav-item a{
    padding:0 1em;
    border: 0;
}

.nav-item a:hover{
    background-color: #35a8e0 !important;
    border:0
}
    
.barraAzulNav{
  border: 0;
  background-color: #35a8e0;
  height: 7px;
}
