/*Tamanhos*/

.navbar{
    height:80px;
    box-shadow: none;
}

.logo{
    height: 50px;
}

.dropdown-menu{
    border-radius: 0% !important;
    padding: 0 0 !important;
    margin: -0em;
    border: 0;
}

.nav-item a{
    padding-left: 1em;
    padding-right: 1em;  
}

.nav-item:hover{
    background-color:#35a8e0;
}

.barraAzulNav{
  border: 0;
  background-color: #35a8e0;
  height: 7px;
}
/*Imagens*/

.imgLogo{
    width: 30%;
    height: 30%;
    margin-left: 0;
    margin-right: 0;
}
