/*Tamanhos*/

.navbar{
    height:80px;
    box-shadow: none;
}
.nav-item{
  width: 65%;
}

.nav-item:hover{
    background-color:#35a8e0;
}
.navbar-brand{
  margin-right:-110px;
}

.barraAzulNav{
  border: 0;
  background-color: #35a8e0;
  height: 7px;
}
/*Imagens*/

.imgLogo{
    width: 30%;
    height: 30%;
    margin-left: 10%;
    margin-right: 0;
}
