.sidenav{
    width: 200px;
    background-color: #343a40;
    margin-top: 60px;
    margin-left: 15px; 
    border-color: #35a8e0;
    border-width: 7px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.nav flex-column{
    position: relative;
}

.nav-link active{
    text-align: center;
    font-family: Impact;
    color: white;
    background-color: white;
}

.nav-item{
    position: relative;
    text-align: center;
    line-height: 60px;
}

.nav-item :hover, .nav-link :hover{
    background-color: #35a8e0;
    color: white;
    font-size: 110%;
    size: 110%;
}

a{
    color:#afafaf;
}

