.sidenav{
    width: 200px;
    background-color: #343a40;
    margin-top: 0px;
    border-bottom:  7px solid #35a8e0; 
    border-right: 7px solid #35a8e0;
    border-left: 7px solid #35a8e0;
}



.nav-link active{
    text-align: center;
    font-family: Impact;
    color: white;
    background-color: white;
}

.nav-item{
    text-align: center;
    line-height: 60px;
}

.nav-item :hover, .nav-link :hover{
    background-color: #35a8e0;
    color: white;
    font-size: 110%;
    size: 110%;
}

a{
    color:#afafaf;
}

