<div class="sidenav">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Item menu 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Item menu 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Item menu 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Item menu 4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Item menu 5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Item menu 6</a>
    </li>
  </ul>
</div>